# Firebase credentials
google-services.json
notificationmynayki-firebase-adminsdk*.json
firebase-admin*.json

# Environment files
.env
.env.*

# Dependencies
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store
*.pem

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# iOS
ios/Pods/
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Temporary files
*.log
*.tmp
android
